body {
    background: rgba(0,0,0,1);
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: auto;
    color: #fff;
    font-family: 'Inconsolata', monospace;
}

.Header {
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    height: auto;  
    margin-top: -1%; 
}
.PH-Header {
    position: absolute;
    z-index: 1;
    display: none;
    width: 100%;
    height: auto;  
    margin-top: -1%; 
}

.Logo {
    position: relative;
    z-index: 2;
    display: block;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}

.Swipe {
    position: relative;
    z-index: 2;
    display: none;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}

.Bar1 {
    position: relative;
    z-index: 2;
    width: 80%;
    height: 1px;
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Space1 {
    position: relative;
    z-index: 2;
    font-size: .01vw ;
    text-align: center;
}

.Bar2 {
    position: relative;
    z-index: 2;
    width: 40%;
    height: 1px;
    margin-top: 0%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Title {
    position: relative;
    z-index: 2;
    font-size: 1.5vw ;
    margin-top: 3%;
    text-align: center;
}

.IG {
    position: relative;
   z-index: 2;
    display: block;
    width: 50%;
     height: auto;
    margin-left: auto;
     margin-right: auto;    
    }

.YT {
    position: relative;
     z-index: 2;
     display: block;
     width: 50%;
     height: auto;
     margin-left: auto;
     margin-right: auto;
}

.SF {
     position: relative;
     z-index: 2;
     display: block;
     width: 50%;
     height: auto;
     margin-left: auto;
     margin-right: auto;
}

.Subtitle {
    position: relative;
    z-index: 2;
    font-size: 1.5vw ;
    margin-top: 3%;
    text-align: center;
}

.BS {
    position: relative;
    z-index: 2;
    display: block;
    margin-top: 3%;
    width: 7%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.Clickbait {
    position: relative;
    z-index: 2;
    font-size: 1vw ;
    margin-top: 3%;
    text-align: center;
    color: rgb(128, 128, 128);
}

.PHClickbait {
    display: none;
}


.Grid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 3%;
}

.Handwasher {
    position: relative;
    z-index: 2;
    font-size: 1vw ;
    text-align: center;
    color: rgb(100, 100, 100);

}

.Footer {
    text-align: center;
    font-size: 0.8vw ;
    margin-top: 2%;
    margin-bottom: 0.5%;
}

.bg-footer {
    background: rgb(15, 15, 15) ;
}

@media(max-width: 780px) {
    .Header {
        display: none;
    }
    .PH-Header {
        position: absolute;
        z-index: 1;
        display: block;
        width: 100%;
        height: auto;  
        margin-top: -15%; 
    }
    .Logo {
        position: relative;
        z-index: 2;
        display: block;
        margin-top: 30%;
        width: 50%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .Swipe {
        position: relative;
        z-index: 2;
        display: block;
        margin-top: 40%;
        width: 20%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .Bar1 {
        position: relative;
        z-index: 2;
        width: 80%;
        height: 1px;
        margin-top: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .Title {
        position: relative;
        z-index: 2;
        font-size: 5vw ;
        margin-top: 10%;
        text-align: center;
        color: rgb(170, 170, 170);
    }
    .IG {
        position: relative;
       z-index: 2;
        display: block;
        width: 40%;
         height: auto;
        margin-left: auto;
         margin-right: auto;    }
    
    .YT {
        position: relative;
         z-index: 2;
         display: block;
         width: 40%;
         height: auto;
         margin-left: auto;
         margin-right: auto;
    }
    
    .SF {
         position: relative;
         z-index: 2;
         display: block;
         width: 40%;
         height: auto;
         margin-left: auto;
         margin-right: auto;
    }
    .Grid {
        display: grid;
        grid-template-columns: 1fr;
    }
    .Handwasher {
        position: relative;
        z-index: 2;
        font-size: 3vw ;
        text-align: center;
    }
    .Subtitle {
        position: relative;
        z-index: 2;
        font-size: 5vw ;
        text-align: center;
        color: rgb(170, 170, 170);
    }
    .BS {
        position: relative;
        z-index: 2;
        display: block;
        top: -2%;
        width: 35%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .Clickbait {
        display: none;

    }
    .PHClickbait {
        display: block;
        position: relative;
        z-index: 2;
        font-size: 4vw ;
        text-align: center;
        margin-top: 10%;
        color: rgb(68, 68, 68);
    }
    .Handwasher {
        margin-top: 5%;
    }
    .Footer {
        text-align: center;
        font-size: 2.5vw ;
        margin-top: 5%;
        margin-bottom: 0%;
    }
}

@media(max-height: 560px) {
    .Header {
        position: absolute;
        z-index: 1;
        display: block;
        width: 100%;
        height: auto;  
        margin-top: -9%; 
    }  
    .Logo {
        position: relative;
        z-index: 2;
        display: block;
        margin-top: 9%;
        width: 25%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }   
    .Clickbait {
        display: none;
    }
    .PHClickbait {
        display: block;
        position: relative;
        z-index: 2;
        font-size: 1vw ;
        text-align: center;
        color: rgb(68, 68, 68);
    }     
}